.favorites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 0;
}

.favorite-card {
  width: 240px;
  border: none;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.favorite-card:hover {
  transform: scale(1.05);
}

.card-img {
  width: 100%;
  height: auto;
}

.favorite-card-info {
  padding: 1rem;
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.favorite-card-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.favorite-card-text {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 10px;
}

.favorite-card-button {
  background-color: transparent;
  color: #dc3545;
  border: 1px solid #dc3545;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
}

.favorite-card-button:hover {
  background-color: #dc3545;
  color: #fff;
}

.no-favorites {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  height: 200px;
  color: #555;
}
